<footer id="footer" class="bg-light text-center">
  <div id="footercontent" class="text-center p-3" style="background-color: #851313; font-weight: bolder; color: white;">
    © 2023 Copyright:
    <b style="color: white; font-weight: bolder;" class="text-light">Las principales empresas eligen a Peripateticos
      para desarrollar sus habilidades profesionales mas demandadas</b>
    <br><br>
    <section class="mb-4">
      <a class="btn btn-primary btn-floating m-1" style="background-color: #851313; border: none; border-radius: 20px;"
        role="button">
        <img src="../../../assets/img/pacificoLogo.jpg" width="160" alt="Logo Pacifico">
      </a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #851313; border: none; border-radius: 20px;"
        role="button">
        <img src="../../../assets/img/Interbank_logo.png" width="160" alt="Logo Interbank">
      </a>
      <a class="btn btn-primary btn-floating m-1" style="background-color: #851313; border: none; border-radius: 20px;"
        role="button">
        <img src="../../../assets/img/scotiabank_logo.png" width="160" alt="Logo Scotiabank">
      </a>
    </section>
  </div>
</footer>