<div class="content">
  <div class="header" id="header">
    <div class="nav">
      <label></label>
      <div class="switchs">
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['']"><i class="fa fa-home"></i>
          INICIO</button>
        <button style="font-weight: bold;" class="log" id="log" onclick="location.href='#services';"><i
            class="fa fa-cog"></i> SERVICIOS</button>
        <button style="font-weight: bold;" class="log" id="log" [routerLink]="['/login']"><i class="fa fa-sign-in"></i>
          INICIAR SESION</button>
        <button style="font-weight: bold;" class="create_acc" id="create_acc" [routerLink]="['/registration']"><i
            class="fa fa-user-plus"></i> Crear Cuenta</button>
      </div>
    </div>
    <div class="main">
      <div class="text">
        <h1 style="margin-left: -10%; font-family: Verdana;">ELearning Peripateticos</h1><br>
        <h4 style="font-family: monospace; font-weight: bolder; margin-left: -8%; color: rgb(248, 247, 247);">
          Desarrollado
          por - Los tilines Corp</h4><br><br>
      </div><br>
      <img class="floating" id="img3" [src]="'assets/img/logo.png'">
    </div>
  </div>
  <br>
</div>
<br><br>
<marquee class="marquee" direction="left">🔔 El conocimiento es una virtud. Por ello, forma pate de Elearning
  Periapateticos y potencia el talento que llevas dentro y superate a ti mismo.🦾 </marquee>

<section id="about" class="about about-bg">
  <div class="about-container">
    <div class="subtext1" id="subtext1"><span class="counter">01</span> &nbsp;
      Plataforma de aprendizaje intuitiva y facil de usar<i id="subtext1" class="fa fa-caret-down"></i>
    </div>
    <div class="innertext1" id="innertext1">
      Este portal te facilita una experiencia
      <b style="color: darkmagenta; font-size: larger; font-weight: bolder;">facil de usar</b>
      con todos los contenidos y recursos de aprendizaje para mejorar sus habilidades. También puede
      <b style="color: darkgreen; font-size: large; font-weight: bolder;">descargar los materiales relacionados con el
        curso</b>
      desde nuestro portal, lo que puede facilitar mucho su proceso de aprendizaje.
    </div>
  </div>
  <div class="about-container">
    <div class="subtext1" id="subtext2"><span class="counter">02</span> &nbsp;
      Diferentes modos de visualización<i id="subtext2" class="fa fa-caret-down"></i>
    </div>
    <div class="innertext1" id="innertext2">
      Este Portal de elearning tiene tres modos diferentes de trabajar como
      <b style="color:darkblue; font-size: larger; font-weight: bolder;">ADMIN, PROFESOR & USUARIO.</b>
      Cada uno de ellos puede acceder a sus respectivas funciones y realizar su tarea en consecuencia. (por defecto, el
      ADMINISTRADOR sera
      <b style="color: darkgreen; font-size: larger; font-weight: bolder;">PERIPATETICO SR.</b>
    </div>
  </div>
  <div class="about-container">
    <div class="subtext1" id="subtext3"><span class="counter">03</span> &nbsp;
      Contenidos de aprendizaje exclusivos<i id="subtext3" class="fa fa-caret-down"></i>
    </div>
    <div class="innertext1" id="innertext3">
      Se ha incluido contenido de conferencias basados en
      <b style="color: darkgreen; font-size: larger; font-weight: bolder;">video</b> y
      <b style="color: darkgreen; font-size: larger; font-weight: bolder;">website</b> El
      <b style="color: darkred; font-size: medium; font-weight: bolder;">ADMIN</b> o
      <b style="color: darkred; font-size: medium; font-weight: bolder;">PROFESSOR</b> puede especificar el tipo de
      curso al agregar un nuevo curso
    </div>
  </div>
  <div class="about-container">
    <div class="subtext1" id="subtext4"><span class="counter">04</span> &nbsp;
      Videoconferencias integradas de Plug-In Play.<i id="subtext4" class="fa fa-caret-down"></i>
    </div>
    <div class="innertext1" id="innertext4">
      <b style="color: darkgreen; font-size: larger; font-weight: bolder;">Las conferencias basadas en videos</b>
      tambien se dividen en
      <b style="color: darkgreen; font-size: larger; font-weight: bolder;">capitulos o modulos</b> según los
      instructores y los usuarios pueden aprender como una conferencia de video integrada en nuestro
      <b style="color: maroon; font-size: large; font-weight: bolder;">reproductor de video personalizado.</b> También
      puede
      <b style="color: darkblue; font-size: medium; font-weight: bolder;">tomar notas, descargar recursos, hacer
        consultas y dar su opinión sobre el curso.</b>
    </div>
  </div><br>
  <img class="automation" [src]="'assets/img/portalimg.jpg'" width="470" height="470">
</section>

<main id="main">
  <section id="services" class="services section-bg">
    <div class="container" data-aos="fade-up">
      <div class="section-title">
        <h2 style="font-family: aladin; color: rgb(3, 34, 34);">Uso amigable para el aprendizaje</h2>
      </div>
      <div class="mid_body2">
        <div class="details">
          <div class="detail_1" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;">
              Admin </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
              <img [src]="'assets/img/admin.png'" width="130" height="130">
            </div>
          </div>
          <div class="detail_2" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;">
              Profesor </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
              <img [src]="'assets/img/femaleprofessor.png'" width="130" height="130">
            </div>
          </div>
          <div class="detail_3" (click)="navigate()" style="background-color: rgb(19, 104, 97); margin-right: 5%;">
            <h2 style="font-weight: bolder; font-size: 35px;font-family: monospace; margin-top: 5%; color: white;"> User
            </h2>
            <div class="circle" style="border-radius: 50%; background-color: white; padding: 10%;">
              <img [src]="'assets/img/male.png'" width="130" height="130">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<my-app-footer></my-app-footer>