<app-header></app-header>

<div class="container register">
  <div class="row">
    <div class="col-md-9 register-right">
      <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
          <h3 class="register-heading"><i class="fa fa-user-o"></i> Agregar nuevo Profesor</h3>
          <small class="text-danger"><b>{{msg}}</b></small>
          <form #professorform="ngForm" (ngSubmit)="addProfessor()">
            <div class="row register-form">
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nombre del Profesor: <b style="color:red;">*</b></label>
                  <input type="text" class="form-control" placeholder="Nombre del profesor" name="professorname"
                    [(ngModel)]="professor.professorname" required #professorname="ngModel"
                    [class.is-invalid]="professorname.invalid && professorname.touched">
                  <small class="text-danger" [class.d-none]="professorname.valid || professorname.untouched"><b>Este
                      campo es requerido</b></small>
                </div>
                <div class="form-group">
                  <label>Email del Profesor: <b style="color:red;">*</b></label>
                  <input type="email" class="form-control" placeholder="Email del profesor" name="professoremail"
                    [(ngModel)]="professor.email" required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                    #professoremail="ngModel" [class.is-invalid]="professoremail.invalid && professoremail.touched">
                  <div *ngIf="professoremail.errors && (professoremail.invalid && professoremail.touched)">
                    <small class="text-danger" *ngIf="professoremail.errors['required']"><b>Este campo es
                        requerido</b></small>
                    <small class="text-danger" *ngIf="professoremail.errors['pattern']"><b>ID de email
                        invalido</b></small>
                  </div>
                </div>
                <div class="form-group">
                  <label>Genero del Profesor: <b style="color:red;">*</b></label>
                  <input type="text" class="form-control" placeholder="Genero del profesor" name="professorgender"
                    [(ngModel)]="professor.gender" required #professorgender="ngModel"
                    [class.is-invalid]="professorgender.invalid && professorgender.touched">
                  <small class="text-danger" [class.d-none]="professorgender.valid || professorgender.untouched"><b>Este
                      campo es requerido</b></small>
                </div>
                <div class="form-group">
                  <label>Numero del Profesor: <b style="color:red;">*</b></label>
                  <input type="tel" maxlength="9" minlength="9" class="form-control" placeholder="Numero del profesor"
                    name="professormobile" [(ngModel)]="professor.mobile" required #professormobile="ngModel"
                    [class.is-invalid]="professormobile.invalid && professormobile.touched">
                  <small class="text-danger" [class.d-none]="professormobile.valid || professormobile.untouched"><b>Este
                      campo es requerido</b></small>
                </div>
                <div class="form-group">
                  <label>Contraseña: <b style="color:red;">*</b></label>
                  <input type="password" class="form-control" placeholder="Ingresa la contraseña" name="pwd"
                    [(ngModel)]="professor.password" required #professorpassword="ngModel"
                    [class.is-invalid]="professorpassword.invalid && professorpassword.touched">
                  <div *ngIf="professorpassword.errors && professorpassword.invalid && professorpassword.touched">
                    <small class="text-danger" *ngIf="professorpassword.errors['required']"><b>Este campo es
                        requerido</b></small>
                  </div>
                  <small style="color: navy; font-size: 10px; font-weight: bold;">Para las pruebas puedes usar
                    temporalmente "123"</small>
                  <small style="color: gray; font-size: 10px; font-weight: bold;"> Luego puedes ir al
                    Login/EditarUsuario y cambiar tu contraseña</small>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Nombre de la Institucion de trabajo: <b style="color:red;">*</b></label>
                  <input type="text" class="form-control" placeholder="Nombre de la Institucion" name="institutionname"
                    [(ngModel)]="professor.institutionname" required #institutionname="ngModel"
                    [class.is-invalid]="institutionname.invalid && institutionname.touched">
                  <small class="text-danger" [class.d-none]="institutionname.valid || institutionname.untouched"><b>Este
                      campo es requerido</b></small>
                </div>
                <div class="form-group">
                  <label>Departamento de Trabajo: <b style="color:red;">*</b></label>
                  <input type="text" class="form-control" placeholder="Nombre del Departamento" name="department"
                    [(ngModel)]="professor.department" required #department="ngModel"
                    [class.is-invalid]="department.invalid && department.touched">
                  <small class="text-danger" [class.d-none]="department.valid || department.untouched"><b>Este campo es
                      requerido</b></small>
                </div>
                <div class="form-group">
                  <label>Años de Experiencia: <b style="color:red;">*</b></label>
                  <input type="number" class="form-control" placeholder="enter years of experience" name="experience"
                    [(ngModel)]="professor.experience" required #experience="ngModel"
                    [class.is-invalid]="experience.invalid && experience.touched">
                  <small class="text-danger" [class.d-none]="experience.valid || experience.untouched"><b>Este campo es
                      requerido</b></small>
                </div>
                <div class="form-group">
                  <label>Grado Academico: <b style="color:red;">*</b></label>
                  <input type="text" class="form-control" placeholder="Ingresa tus titulos separados por (,)"
                    name="degreecompleted" [(ngModel)]="professor.degreecompleted" required #degreecompleted="ngModel"
                    [class.is-invalid]="degreecompleted.invalid && degreecompleted.touched">
                  <small class="text-danger" [class.d-none]="degreecompleted.valid || degreecompleted.untouched"><b>Este
                      campo es requerido</b></small>
                  <br><small style="color: gray;">Ejm: Bachiller, Titulado, Maestria, Doctorado, etc...</small>
                </div>
              </div>
            </div>
            <div class="checkbox" style="margin-top: -8%; margin-left: 11%; margin-bottom: 4%;">
              <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember" required> Usted
                tiene un certificado de profesor</small>
            </div>
            <button [disabled]="professorform.form.invalid" type="submit" class="btnRegister"><i class="fa fa-plus"></i>
              Agregar Profesor</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<my-app-footer></my-app-footer>