
<div class="container register">
    <div class="row">
        <div class="col-md-9 register-right">
            <ul class="nav nav-tabs nav-justified" id="myTab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link nav1" id="home-tab" data-toggle="tab" data-target="#home" role="tab" aria-controls="home" aria-selected="true">Usuario</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav2" id="profile-tab" data-toggle="tab" role="tab" aria-controls="profile" aria-selected="false">Profesor</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                    <h3 class="register-heading">Registro de Usuario</h3>
                    <!-- <small class="text-danger"><b>{{msg}}</b></small> -->
                    <form #userform="">
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="usuario *" name="username"  required>                                                         
                                <small class="text-danger"><b></b></small>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="genero *" name="usergender"  required>                      
                                <small class="text-danger"><b></b></small>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="profesion *" name="userprofession"  required 
                                
                                >
                                <small class="text-danger"><b></b></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="contraseña *" name="pwd"  required 
                                
                                >
                                <div>
                                <small class="text-danger"><b></b></small>
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="correo electronico *" name="useremail"  required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                                
                                >
                                <div>
                                    <small class="text-danger" ><b></b></small>
                                    <small class="text-danger" ><b></b></small>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="tel" maxlength="10" minlength="10" class="form-control" placeholder="N Telefono *" name="usermobile"  required 
                                
                                >
                                <small class="text-danger"><b></b></small>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="direccion *" name="useraddress"  required 
                                
                                >
                                <small class="text-danger" ><b></b></small>
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control"  placeholder="confirmar contraseña *" name="ConfirmPassword"  required 
                                
                                >
                                <!--<div style="margin-top: -4%; margin-bottom: 3%;" *ngIf="userconfirmPassword.valid || userconfirmPassword.touched">
                                    <small class="text-danger" *ngIf="(userconfirmPassword.value == userpassword.value) || userconfirmPassword.touched"><b>password not matched</b></small>
                                </div>-->
                                <small class="text-danger" ><b></b></small>
                            </div>
                        </div>
                    </div>
                    <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                        <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember" required>Acepto terminos y condiciones</small>
                    </div>
                    <div style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">Ya tienes cuenta aqui? 
                        <small [routerLink]="['/login']" style="color: navy; text-align: center; cursor: pointer;"><b>click aqui</b></small>
                    </div>
                    <button  type="submit" class="btnRegister">Registrarse</button>
                </form>
                </div>
                <div class="tab-pane fade show" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <h3  class="register-heading">Registro de Profesor</h3>
                    
                    <form>
                    <div class="row register-form">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="nombre Profesor *" name="professorname" required 
                                
                                >
                        
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="correo electronico *" name="professoremail"  required pattern="^[a-zA-Z0-9+_.-]+@[a-zA-Z0-9.-]+$"
                               
                                >
                                <div >
                                    
                                  </div>                          
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="genero *" name="professorgender" required 
                                
                                >
                            
                            </div>
                            <div class="form-group">
                                <input type="tel" maxlength="10" minlength="10" class="form-control" placeholder="telefono *" name="professormobile"  required 
                               
                                >
                            
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="contraseña *" name="pwd"  required 
                               
                               >
                                <div >
                                  
                                </div>
                                
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="nombre de la institucion *" name="institutionname"  required 
                                
                               >
                               
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="departamento *" name="department"  required 
                                
                               >
                            
                            </div>
                            <div class="form-group">
                                <input type="number" class="form-control" placeholder="años de experiencia *" name="experience"  required 
                                
                                >
                            
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="titulos obtenidos *" name="degreecompleted"  required 
                               
                                >
                               
                            </div>
                            <div class="form-group">
                                <input type="password" class="form-control" placeholder="confirmar contraseña*" name="ConfirmPassword" required 
                               
                                >
                                
                            </div>
                        </div>
                    </div>
                    <div class="checkbox" style="margin-top: -8%; margin-left: 11%;">
                        <small style="color: gray;"><input type="checkbox" class="checkbox" name="remember" required>acepto terminos y condiciones</small>
                    </div>
                    <div style="margin-top: -3%; margin-left: 58.5%; margin-bottom: 3%; color: rgb(0, 0, 0); font-size: 16px;">Ya tienes cuenta aqui? 
                        <small [routerLink]="['/login']" style="color: navy; text-align: center; cursor: pointer;"><b>click aqui</b></small>
                    </div>
                    <button type="submit" class="btnRegister">Registrarse</button>
                </form>
                </div>
            </div>
        </div>
    </div>

</div>				                            