<app-header></app-header>

<div class="container">
  <h2 class="textual"><i class="fa fa-book"></i> Nuevos Modulos </h2>
  <small style="color:darkgreen; margin-left: 10%; font-weight: bold;">Añade modulos a tu curso los cuales seran la guia
    de temas para tus alumnos</small>
  <form #addChapterform="ngForm" (ngSubmit)="addChapters()">

    <div class="form-group">
      <label for="coursename">Curso: <b class="text-danger">*</b></label>
      <select class="form-control" id="sel1" name="coursename" [(ngModel)]="chapter.coursename" required
        #coursename="ngModel">
        <option style="color: lightgray;" selected="true" value="default">Selecciona curso</option>
        <option *ngFor="let course of coursenames | async">{{course}}</option>
      </select>
    </div>
    <small style="color: gray; font-weight: bold;">Porfavor selecciona un curso del menu desplegable</small>

    <div id="chapter1">
      <div class="form-group">
        <label for="chapter1name">Modulo-1 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del primer modulo" id="chapter1nametxt"
          name="chapter1name" [(ngModel)]="chapter.chapter1name">
      </div>
      <div class="form-group">
        <label for="chapter1id">Modulo-1 URL: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-1" id="chapter1idtxt"
          name="chapter1id" [(ngModel)]="chapter.chapter1id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div class="form-group">
        <label for="challenge1name">Nombre Challenge-1: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del Challenge" id="challenge1nametxt"
          name="challenge1name" [(ngModel)]="chapter.challenge1name">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa nombre del Challenge</small>
      </div>
      <div class="form-group">
        <label for="challenge1description">Descripcion Challenge-1: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la descripcion del challenge"
          id="challenge1descriptionnametxt" name="challenge1description" [(ngModel)]="chapter.challenge1description">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa la descripcion del challenge</small>
      </div>
      <div class="form-group">
        <label for="challenge1origin">Origen del Challenge-1: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la institucion de la que proviene el challenge"
          id="challenge1origintxt" name="challenge1origin" [(ngModel)]="chapter.challenge1origin">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa la institucion de la que proviene el
          challenge</small>
      </div>
      <div class="form-group">
        <label for="challenge1code">Codigo Challenge-1: <b class="text-danger">*</b></label>
        <textarea style="height: 250px;" type="text" class="form-control" placeholder="Ingresa el codigo del challenge"
          id="challenge1codetxt" name="challenge1code" [(ngModel)]="chapter.challenge1code">
        </textarea>
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el codigo</small>
      </div>
      <div id="chapter1btn"
        style="width: 30%; cursor: pointer; margin-top: 8px; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
    </div>

    <div id="chapter2">
      <div class="form-group">
        <label for="chapter2name">Modulo-2 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del segundo modulo" id="chapter2nametxt"
          name="chapter2name" [(ngModel)]="chapter.chapter2name">
      </div>
      <div class="form-group">
        <label for="chapter2id">Modulo-2 URL:<b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-2" id="chapter2idtxt"
          name="chapter2id" [(ngModel)]="chapter.chapter2id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div class="form-group">
        <label for="challenge2name">Nombre Challenge-2: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del Challenge" id="challenge2nametxt"
          name="challenge2name" [(ngModel)]="chapter.challenge2name">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa nombre del Challenge</small>
      </div>
      <div class="form-group">
        <label for="challenge2description">Descripcion Challenge-2: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la descripcion del challenge"
          id="challenge2descriptionnametxt" name="challenge2description" [(ngModel)]="chapter.challenge2description">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa la descripcion del challenge</small>
      </div>
      <div class="form-group">
        <label for="challenge2origin">Origen del Challenge-2: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la institucion de la que proviene el challenge"
          id="challenge2origintxt" name="challenge2origin" [(ngModel)]="chapter.challenge2origin">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa la institucion de la que proviene el
          challenge</small>
      </div>
      <div class="form-group">
        <label for="challenge2code">Codigo Challenge-2: <b class="text-danger">*</b></label>
        <textarea style="height: 250px;" type="text" class="form-control" placeholder="Ingresa el codigo del challenge"
          id="challenge2codetxt" name="challenge2code" [(ngModel)]="chapter.challenge2code">
        </textarea>
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el codigo</small>
      </div>
      <div id="chapter2btn"
        style="width: 30%; margin-top: 8px; cursor: pointer; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
      <div id="remove2btn"
        style="width:  30%; margin-top: -4.5%; margin-left: 32%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-trash"></i> Remover el modulo
      </div>
    </div>

    <div id="chapter3">
      <div class="form-group">
        <label for="chapter3name">Modulo-3 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del tercer modulo" id="chapter3nametxt"
          name="chapter3name" [(ngModel)]="chapter.chapter3name">
      </div>
      <div class="form-group">
        <label for="chapter3id">Modulo-3 URL: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-3" id="chapter3idtxt"
          name="chapter3id" [(ngModel)]="chapter.chapter3id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div id="chapter3btn"
        style="width: 30%; margin-top: 8px; cursor: pointer; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
      <div id="remove3btn"
        style="width: 30%; margin-top: -4.5%; margin-left: 32%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-trash"></i> Remover el modulo
      </div>
    </div>

    <div id="chapter4">
      <div class="form-group">
        <label for="chapter4name">Modulo-4 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del cuarto modulo" id="chapter4nametxt"
          name="chapter4name" [(ngModel)]="chapter.chapter4name">
      </div>
      <div class="form-group">
        <label for="chapter4id">Modulo-4 URL: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-4" id="chapter4idtxt"
          name="chapter4id" [(ngModel)]="chapter.chapter4id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div id="chapter4btn"
        style="width: 30%; margin-top: 8px; cursor: pointer; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
      <div id="remove4btn"
        style="width: 30%; margin-top: -4.5%; margin-left: 32%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-trash"></i> Remover el modulo
      </div>
    </div>

    <div id="chapter5">
      <div class="form-group">
        <label for="chapter5name">Modulo-5 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del quinto modulo" id="chapter5nametxt"
          name="chapter5name" [(ngModel)]="chapter.chapter5name">
      </div>
      <div class="form-group">
        <label for="chapter5id">Modulo-5 URL: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-5" id="chapter5idtxt"
          name="chapter5id" [(ngModel)]="chapter.chapter5id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div id="chapter5btn"
        style="width: 30%; margin-top: 8px; cursor: pointer; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
      <div id="remove5btn"
        style="width: 30%; margin-top: -4.5%; margin-left: 32%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-trash"></i> Remover el modulo
      </div>
    </div>

    <div id="chapter6">
      <div class="form-group">
        <label for="chapter6name">Modulo-6 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del sexto modulo" id="chapter6nametxt"
          name="chapter6name" [(ngModel)]="chapter.chapter6name">
      </div>
      <div class="form-group">
        <label for="chapter6id">Modulo-6 URL:<b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-6" id="chapter6idtxt"
          name="chapter6id" [(ngModel)]="chapter.chapter6id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div id="chapter6btn"
        style="width: 30%; margin-top: 8px; cursor: pointer; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
      <div id="remove6btn"
        style="width: 30%; margin-top: -4.5%; margin-left: 32%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-trash"></i> Remover el modulo
      </div>
    </div>

    <div id="chapter7">
      <div class="form-group">
        <label for="chapter7name">Modulo-7 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del septimo modulo" id="chapter7nametxt"
          name="chapter7name" [(ngModel)]="chapter.chapter7name">
      </div>
      <div class="form-group">
        <label for="chapter7id">Modulo-7 URL:<b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-7" id="chapter7idtxt"
          name="chapter7id" [(ngModel)]="chapter.chapter7id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div id="chapter7btn"
        style="width: 30%; margin-top: 8px; cursor: pointer; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
      <div id="remove7btn"
        style="width: 30%; margin-top: -4.5%; margin-left: 32%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-trash"></i> Remover el modulo
      </div>
    </div>

    <div id="chapter8">
      <div class="form-group">
        <label for="chapter8name">Modulo-8 Nombre: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa el nombre del octavo modulo" id="chapter8nametxt"
          name="chapter8name" [(ngModel)]="chapter.chapter8name">
      </div>
      <div class="form-group">
        <label for="chapter8id">Modulo-8 URL: <b class="text-danger">*</b></label>
        <input type="text" class="form-control" placeholder="Ingresa la url como ID para el modulo-8" id="chapter8idtxt"
          name="chapter8id" [(ngModel)]="chapter.chapter8id">
        <small style="color: gray; font-weight: bold;">Porfavor ingresa el id del video como url</small>
      </div>
      <div id="chapter8btn"
        style="width: 30%; margin-top: 8px; cursor: pointer; background-color: rgb(13, 68, 65); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-plus"></i> Agregar otro modulo
      </div>
      <div id="remove8btn"
        style="width: 30%; margin-top: -4.5%; margin-left: 32%; cursor: pointer; background-color: rgb(201, 13, 13); color: white; font-weight: bold; border: none; font-size: small; outline: none; padding: 5px 15px 5px 15px; border-radius: 15px;">
        <i class="fa fa-trash"></i> Remover el modulo
      </div>
    </div>

    <div class="checkbox" style="margin-top: 5px;">
      <small style="font-weight: 700; color: darkred;"><input type="checkbox" name="remember" required> Si estos
        capítulos tienen los contenidos válidos relacionados con el curso</small>
    </div>
    <button style="margin-top: 15px;" [disabled]="addChapterform.form.invalid" type="submit" class="btn registerbtn"><i
        class="fa fa-plus"></i>&nbsp; Agregar Modulo</button>
  </form>
</div>

<br><br><br><br>
<my-app-footer></my-app-footer>